/*
 * Copyright 2018 Scott Wiederhold <s.e.wiederhold@gmail.com>
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

 /* PAD Control Definitions
  *
  * Be sure to check IMX6 DQ Reference Manual to verify each
  * PADs actual capability (i.e. GPIO00 - See Ch 36.4.376).
  * PAD Operating frequency is dependent on many factors (See Ch 28.4.2.3)
  *
  * For a better explanation, see Freescale AN5078
  * http://cache.freescale.com/files/32bit/doc/app_note/AN5078.pdf
  */
 /* Hysteresis */
 #define HYS            (1 << 16) /* OFF: CMOS Input, ON: Schmitt trigger Input */
 /* Pull Up/Keeper Mode Select */
 #define PUE            (1 << 13) /* OFF: Keeper, ON: Pull Up */
 /* Pull Up/Down - Value */
 #define PUS_22K_UP     (3 << 14)
 #define PUS_47K_UP     (1 << 14)
 #define PUS_100K_UP    (2 << 14)
 #define PUS_100K_DOWN  (0 << 14) /* Default */
 /* Pull Up/Keeper - Enable */
 #define PKE            (1 << 12) /* OFF: Disabled, ON: Enabled */
 /* Open Drain Enable */
 #define ODE            (1 << 11) /* OFF: CMOS output, ON: Open Drain */
 /* Speed - The range of this capability is PAD specific */
 #define SPEED_LOW      (0 << 6)
 #define SPEED_MED_LOW  (1 << 6)
 #define SPEED_MED_HIGH (2 << 6)
 #define SPEED_HIGH     (3 << 6)
 /* Drive Strength */
 #define DSE_DISABLE    (0 << 3) /* Default - HI-Z */
 #define DSE_33ohm      (7 << 3)
 #define DSE_40ohm      (6 << 3)
 #define DSE_50ohm      (5 << 3)
 #define DSE_60ohm      (4 << 3)
 #define DSE_90ohm      (3 << 3)
 #define DSE_130ohm     (2 << 3)
 #define DSE_260ohm     (1 << 3)
 /* Slew Rate */
 #define SRE_SLOW       (0 << 0) /* Default */
 #define SRE_FAST       (1 << 0)
 /* SION - Software Input On Field */
 #define SION       (1 << 30)

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "imx6q.dtsi"

/ {
	model = "OpenGlow Standard - Prototype 1";
	compatible = "openglow,openglow_std", "fsl,imx6q";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&iomuxc_openglow_std>;

	iomuxc_openglow_std: iomuxc-openglow-stdgrp {
		status = "okay";
	};
};

&iomuxc_openglow_std {
pinctrl_bt_rfkill: bt-rfkillgrp {
    fsl,pins = <
#define GP_BT_RFKILL_RESET  <&gpio6 16 GPIO_ACTIVE_LOW>
        MX6QDL_PAD_NANDF_CS3__GPIO6_IO16    (PUE | PKE | SPEED_MED_HIGH | DSE_40ohm)
    >;
};

/* SOM on-board Serial Flash */
pinctrl_ecspi1: ecspi1grp {
    fsl,pins = <
        MX6QDL_PAD_EIM_D17__ECSPI1_MISO     (HYS | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
        MX6QDL_PAD_EIM_D18__ECSPI1_MOSI     (HYS | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
        MX6QDL_PAD_EIM_D16__ECSPI1_SCLK     (SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
#define GP_ECSPI1_NOR_CS    <&gpio3 19 GPIO_ACTIVE_LOW>
        MX6QDL_PAD_EIM_D19__GPIO3_IO19      (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
    >;
};

/* Stepper Drivers SPI Bus */
pinctrl_ecspi2: ecspi2grp {
    fsl,pins = <
        MX6QDL_PAD_CSI0_DAT10__ECSPI2_MISO  (HYS | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
        MX6QDL_PAD_CSI0_DAT9__ECSPI2_MOSI   (HYS | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
        MX6QDL_PAD_CSI0_DAT8__ECSPI2_SCLK   (SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
#define GP_SPI_CS0  <&gpio2 26 GPIO_ACTIVE_LOW> /* X-Stepper */
        MX6QDL_PAD_EIM_RW__GPIO2_IO26       (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
#define GP_SPI_CS1  <&gpio3 24 GPIO_ACTIVE_LOW> /* Y1-Stepper */
        MX6QDL_PAD_EIM_D24__GPIO3_IO24      (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
#define GP_SPI_CS2  <&gpio3 25 GPIO_ACTIVE_LOW> /* Y2-Stepper */
        MX6QDL_PAD_EIM_D25__GPIO3_IO25      (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
    >;
};

  /* GPIO - Aux I/O */
  pinctrl_gpio_aux: gpio-auxgrp {
      fsl,pins = <
#define GP_AUX_IO_01        <&gpio4 10 GPIO_ACTIVE_HIGH> /* AUX_IO01 */
          MX6QDL_PAD_KEY_COL2__GPIO4_IO10    (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_02        <&gpio4 11 GPIO_ACTIVE_HIGH> /* AUX_IO02 */
          MX6QDL_PAD_KEY_ROW2__GPIO4_IO11    (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_03        <&gpio3 12 GPIO_ACTIVE_HIGH> /* AUX_IO03 */
          MX6QDL_PAD_EIM_DA12__GPIO3_IO12    (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_04        <&gpio5 24 GPIO_ACTIVE_HIGH> /* AUX_IO04 */
          MX6QDL_PAD_CSI0_DAT6__GPIO5_IO24   (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_05        <&gpio5 25 GPIO_ACTIVE_HIGH> /* AUX_IO05 */
          MX6QDL_PAD_CSI0_DAT7__GPIO5_IO25   (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_06        <&gpio5 29 GPIO_ACTIVE_HIGH> /* AUX_IO06 */
          MX6QDL_PAD_CSI0_DAT11__GPIO5_IO29  (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_07        <&gpio6 2 GPIO_ACTIVE_HIGH>  /* AUX_IO07 */
          MX6QDL_PAD_CSI0_DAT16__GPIO6_IO02  (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_08        <&gpio6 3 GPIO_ACTIVE_HIGH>  /* AUX_IO08 */
          MX6QDL_PAD_CSI0_DAT17__GPIO6_IO03  (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_09        <&gpio4 5 GPIO_ACTIVE_HIGH>  /* AUX_IO09 */
          MX6QDL_PAD_GPIO_19__GPIO4_IO05     (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_10        <&gpio1 24 GPIO_ACTIVE_HIGH> /* AUX_IO10 */
          MX6QDL_PAD_ENET_RX_ER__GPIO1_IO24  (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_11        <&gpio6 7 GPIO_ACTIVE_HIGH>  /* AUX_IO11 */
          MX6QDL_PAD_NANDF_CLE__GPIO6_IO07   (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_12        <&gpio3 23 GPIO_ACTIVE_HIGH> /* AUX_IO12 */
          MX6QDL_PAD_EIM_D23__GPIO3_IO23     (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_13        <&gpio6 9 GPIO_ACTIVE_HIGH>  /* AUX_IO13 */
          MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09  (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_14        <&gpio3 7 GPIO_ACTIVE_HIGH>  /* AUX_IO14 */
          MX6QDL_PAD_EIM_DA7__GPIO3_IO07     (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_15        <&gpio3 8 GPIO_ACTIVE_HIGH>  /* AUX_IO15 */
          MX6QDL_PAD_EIM_DA8__GPIO3_IO08     (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_AUX_IO_16        <&gpio3 2 GPIO_ACTIVE_HIGH>  /* AUX_IO16 */
          MX6QDL_PAD_EIM_DA2__GPIO3_IO02     (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
      >;
  };

  /* GPIO - Control */
  pinctrl_gpio_control: gpio-controlgrp {
      fsl,pins = <
#define GP_CTRL_BEAM_SENS   <&gpio3 3 GPIO_ACTIVE_HIGH> /* BEAM_SENS - IN */
          MX6QDL_PAD_EIM_DA3__GPIO3_IO03    (HYS | PUE | PKE)
#define GP_CTRL_HEAD        <&gpio3 1 GPIO_ACTIVE_HIGH> /* HEAD_??? - IN */
          MX6QDL_PAD_EIM_DA1__GPIO3_IO01    (HYS | PUE | PKE)
#define GP_CTRL_LASER_EN    <&gpio3 29 GPIO_ACTIVE_HIGH> /* LASER_EN - OUT */
          MX6QDL_PAD_EIM_D29__GPIO3_IO29    (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
#define GP_CTRL_BTN         <&gpio3 31 GPIO_ACTIVE_LOW> /* nBUTTON - IN */
          MX6QDL_PAD_EIM_D31__GPIO3_IO31    (HYS | PUE | PKE)
#define GP_CTRL_DOORS       <&gpio3 10 GPIO_ACTIVE_LOW> /* nDOORS_OK - IN */
          MX6QDL_PAD_EIM_DA10__GPIO3_IO10   (HYS | PUE | PKE)
#define GP_CTRL_ILOCK       <&gpio3 11 GPIO_ACTIVE_LOW> /* nINTLOCK_OK - IN */
          MX6QDL_PAD_EIM_DA11__GPIO3_IO11   (HYS | PUE | PKE)
#define GP_CTRL_LID1        <&gpio3 9 GPIO_ACTIVE_LOW> /* nLID_SW1 - IN */
          MX6QDL_PAD_EIM_DA9__GPIO3_IO09    (HYS | PUE | PKE)
#define GP_CTRL_LID2        <&gpio2 7 GPIO_ACTIVE_LOW> /* nLID_SW2 - IN */
          MX6QDL_PAD_NANDF_D7__GPIO2_IO07   (HYS | PUE | PKE)
#define GP_CTRL_SAFE_FIRE   <&gpio3 0 GPIO_ACTIVE_LOW> /* nSAFE_TO_FIRE - IN */
          MX6QDL_PAD_EIM_DA0__GPIO3_IO00    (HYS | PUE | PKE)
#define GP_CTRL_RUN_PRGM    <&gpio3 4 GPIO_ACTIVE_HIGH> /* RUN_PRGM - IN */
          MX6QDL_PAD_EIM_DA4__GPIO3_IO04    (HYS | PUE | PKE)
      >;
  };

  /* GPIO - Misc */
  pinctrl_gpio_misc: gpio-miscgrp {
      fsl,pins = <
#define GP_MISC_TP90        <&gpio5 19 GPIO_ACTIVE_HIGH> /* TP90 */
          MX6QDL_PAD_CSI0_MCLK__GPIO5_IO19    (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_MISC_TP91        <&gpio5 20 GPIO_ACTIVE_HIGH> /* TP91 */
          MX6QDL_PAD_CSI0_DATA_EN__GPIO5_IO20 (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
      >;
  };

  /* GPIO - Power */
  pinctrl_gpio_power: gpio-powergrp {
      fsl,pins = <
#define GP_PWR_12V_EN       <&gpio2 6 GPIO_ACTIVE_HIGH> /* 12VDC_EN - OUT */
          MX6QDL_PAD_NANDF_D6__GPIO2_IO06    (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm)
#define GP_PWR_12V_OK       <&gpio1 9 GPIO_ACTIVE_HIGH> /* 12VDC_OK - IN */
          MX6QDL_PAD_GPIO_9__GPIO1_IO09      (HYS | PUE | PKE)
#define GP_PWR_40V_EN       <&gpio2 3 GPIO_ACTIVE_HIGH> /* 40VDC_EN - OUT */
          MX6QDL_PAD_NANDF_D3__GPIO2_IO03    (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm)
#define GP_PWR_40V_OK       <&gpio1 2 GPIO_ACTIVE_HIGH> /* 40VDC_OK - IN */
          MX6QDL_PAD_GPIO_2__GPIO1_IO02      (HYS | PUE | PKE)
#define GP_PWR_HV_PFC_STOP  <&gpio2 1 GPIO_ACTIVE_HIGH> /* HV_PFC_STOP - Unknown Function - OUT?/IN? */
          MX6QDL_PAD_NANDF_D1__GPIO2_IO01    (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
#define GP_PWR_HV_LINE      <&gpio2 4 GPIO_ACTIVE_HIGH> /* HV_LINE_??? - Unknown Function - OUT?/IN? */
          MX6QDL_PAD_NANDF_D4__GPIO2_IO04    (HYS | PUE | PKE | PUS_100K_UP| SPEED_MED_HIGH | DSE_40ohm)
      >;
  };

  /* GPIO - STEP/DIR */
  pinctrl_gpio_stepdir: gpio-stepdirgrp {
      fsl,pins = <
#define GP_STPD_XY_EN       <&gpio5 31 GPIO_ACTIVE_HIGH> /* XY_STEP_EN - OUT */
          MX6QDL_PAD_CSI0_DAT13__GPIO5_IO31  (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm)
#define GP_STPD_X_DIR       <&gpio5 22 GPIO_ACTIVE_HIGH> /* X_DIR - OUT */
          MX6QDL_PAD_CSI0_DAT4__GPIO5_IO22   (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
#define GP_STPD_X_STEP      <&gpio5 30 GPIO_ACTIVE_HIGH> /* X_STEP - OUT */
          MX6QDL_PAD_CSI0_DAT12__GPIO5_IO30  (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
#define GP_STPD_Y1_DIR      <&gpio5 18 GPIO_ACTIVE_HIGH> /* Y1_DIR - OUT */
          MX6QDL_PAD_CSI0_PIXCLK__GPIO5_IO18 (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
#define GP_STPD_Y1_STEP     <&gpio5 21 GPIO_ACTIVE_HIGH> /* Y1_STEP - OUT */
          MX6QDL_PAD_CSI0_VSYNC__GPIO5_IO21  (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
#define GP_STPD_Y2_DIR      <&gpio7 12 GPIO_ACTIVE_HIGH> /* Y2_DIR - OUT */
          MX6QDL_PAD_GPIO_17__GPIO7_IO12     (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
#define GP_STPD_Y2_STEP     <&gpio5 23 GPIO_ACTIVE_HIGH> /* Y2_STEP - OUT */
          MX6QDL_PAD_CSI0_DAT5__GPIO5_IO23   (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
#define GP_STPD_Z_DIR       <&gpio1 3 GPIO_ACTIVE_HIGH> /* Z_DIR - OUT */
          MX6QDL_PAD_GPIO_3__GPIO1_IO03      (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
#define GP_STPD_Z_STEP      <&gpio7 13 GPIO_ACTIVE_HIGH> /* Z_STEP - OUT */
          MX6QDL_PAD_GPIO_18__GPIO7_IO13     (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
      >;
  };

  /* GPIO - Thermal */
  pinctrl_gpio_thermal: gpio-thermalgrp {
      fsl,pins = <
#define GP_THRM_EXH_FAN1        <&gpio3 20 GPIO_ACTIVE_HIGH> /* EXH_FAN_SENS - IN */
          MX6QDL_PAD_EIM_D20__GPIO3_IO20     (PUE | PKE)
#define GP_THRM_INTK_FAN1       <&gpio6 11 GPIO_ACTIVE_HIGH> /* INTK_FAN1_SENS - IN */
          MX6QDL_PAD_NANDF_CS0__GPIO6_IO11   (PUE | PKE)
#define GP_THRM_INTK_FAN2       <&gpio2 2 GPIO_ACTIVE_HIGH> /* INTK_FAN2_SENS - IN */
          MX6QDL_PAD_NANDF_D2__GPIO2_IO02    (PUE | PKE)
#define GP_THRM_TEC_EN          <&gpio3 5 GPIO_ACTIVE_HIGH> /* TEC_EN - OUT */
          MX6QDL_PAD_EIM_DA5__GPIO3_IO05     (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm)
#define GP_THRM_WTR_PMP_EN      <&gpio2 23 GPIO_ACTIVE_HIGH> /* WTR_PMP_EN - OUT */
          MX6QDL_PAD_EIM_CS0__GPIO2_IO23     (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm)
#define GP_THRM_WTR_SENS_PWR    <&gpio2 25 GPIO_ACTIVE_HIGH> /* WTR_SENS_PWR - OUT */
          MX6QDL_PAD_EIM_OE__GPIO2_IO25      (PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm)
      >;
  };

  /* PIC I2C Bus */
  pinctrl_i2c1: i2c1grp {
      fsl,pins = <
          MX6QDL_PAD_EIM_D21__I2C1_SCL      (SION | HYS | PUS_100K_UP | PUE | PKE | ODE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_EIM_D28__I2C1_SDA      (SION | HYS | PUS_100K_UP | PUE | PKE | ODE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
      >;
  };

  /* Interconnect PCB Bus */
  pinctrl_i2c2: i2c2grp {
      fsl,pins = <
          MX6QDL_PAD_KEY_COL3__I2C2_SCL      (SION | HYS | PUS_100K_UP | PUE | PKE | ODE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_KEY_ROW3__I2C2_SDA      (SION | HYS | PUS_100K_UP | PUE | PKE | ODE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
      >;
  };

  /* Lid PCB Bus */
  pinctrl_i2c3: i2c3grp {
      fsl,pins = <
          MX6QDL_PAD_GPIO_5__I2C3_SCL       (SION | HYS | PUS_100K_UP | PUE | PKE | ODE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_GPIO_16__I2C3_SDA      (SION | HYS | PUS_100K_UP | PUE | PKE | ODE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
      >;
  };

  /* EXH_FAN_PWM */
  pinctrl_pwm1: pwm1grp {
      fsl,pins = <
          MX6QDL_PAD_SD1_DAT3__PWM1_OUT     (PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
      >;
  };

  /* HV_PWM */
  pinctrl_pwm3: pwm3grp {
      fsl,pins = <
          MX6QDL_PAD_SD1_DAT1__PWM3_OUT   (PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
      >;
  };

  /* INTK_FAN_PWM */
  pinctrl_pwm4: pwm4grp {
      fsl,pins = <
          MX6QDL_PAD_SD1_CMD__PWM4_OUT    (PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
      >;
  };

  /* WL_EN */
  pinctrl_reg_wlan_en: reg-wlan-engrp {
      fsl,pins = <
#define GP_REG_WLAN_EN  <&gpio6 15 GPIO_ACTIVE_HIGH>
          MX6QDL_PAD_NANDF_CS2__GPIO6_IO15 (PUE | PKE | SPEED_MED_HIGH | DSE_40ohm)
      >;
  };

  /* UART1 - USB Console TTYMXC0 */
  pinctrl_uart1: uart1grp {
      fsl,pins = <
          MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA  (HYS | PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA  (HYS | PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
      >;
  };

  /* UART5 - Bluetooth */
  pinctrl_uart5: uart5grp {
      fsl,pins = <
          MX6QDL_PAD_CSI0_DAT14__UART5_TX_DATA (HYS | PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_CSI0_DAT15__UART5_RX_DATA (HYS | PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_CSI0_DAT18__UART5_CTS_B   (HYS | PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_CSI0_DAT19__UART5_RTS_B   (HYS | PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
      >;
  };

	/* USB HOST 1 */
	pinctrl_usbhst1: usbhst1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D30__USB_H1_OC		0x1b0b0 /* USB_HOST_OC */
		>;
	};
	pinctrl_reg_usbhst1_vbus: reg-usbhst1-vbusgrp {
		fsl,pins = <
#define GP_REG_USBHST1	<&gpio1 0 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_GPIO_0__GPIO1_IO00		0x030b0
		>;
	};
	/* USB OTG */
	pinctrl_usbotg: usbotggrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_1__USB_OTG_ID		0x17059
			MX6QDL_PAD_KEY_COL4__USB_OTG_OC		0x1b0b0
		>;
	};
	pinctrl_reg_usbotg_vbus: reg-usbotg-vbusgrp {
		fsl,pins = <
#define GP_REG_USBOTG	<&gpio3 22 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D22__GPIO3_IO22		0x030b0
		>;
	};

  /* uSDHC2 - Wireless module */
  pinctrl_usdhc2: usdhc2grp {
      fsl,pins = <
          MX6QDL_PAD_SD2_CLK__SD2_CLK         (HYS | SPEED_MED_LOW | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD2_CMD__SD2_CMD         (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD2_DAT0__SD2_DATA0      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD2_DAT1__SD2_DATA1      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD2_DAT2__SD2_DATA2      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD2_DAT3__SD2_DATA3      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD1_CLK__OSC32K_32K_OUT  (SPEED_MED_HIGH | DSE_40ohm)
#define GPIRQ_WL1271    <&gpio6 14 IRQ_TYPE_LEVEL_HIGH>
          MX6QDL_PAD_NANDF_CS1__GPIO6_IO14    (HYS | SPEED_MED_HIGH | DSE_40ohm)
      >;
  };

  pinctrl_usdhc2_100mhz: usdhc2grp-100mhz {
      fsl,pins = <
          MX6QDL_PAD_SD2_CMD__SD2_CMD         (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD2_CLK__SD2_CLK         (HYS | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD2_DAT0__SD2_DATA0      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD2_DAT1__SD2_DATA1      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD2_DAT2__SD2_DATA2      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD2_DAT3__SD2_DATA3      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm | SRE_FAST)
      >;
  };

  pinctrl_usdhc2_200mhz: usdhc2grp-200mhz {
      fsl,pins = <
          MX6QDL_PAD_SD2_CMD__SD2_CMD         (HYS | PUS_47K_UP | PUE | PKE | SPEED_HIGH | DSE_33ohm | SRE_FAST)
          MX6QDL_PAD_SD2_CLK__SD2_CLK         (HYS | SPEED_HIGH | DSE_33ohm | SRE_FAST)
          MX6QDL_PAD_SD2_DAT0__SD2_DATA0      (HYS | PUS_47K_UP | PUE | PKE | SPEED_HIGH | DSE_33ohm | SRE_FAST)
          MX6QDL_PAD_SD2_DAT1__SD2_DATA1      (HYS | PUS_47K_UP | PUE | PKE | SPEED_HIGH | DSE_33ohm | SRE_FAST)
          MX6QDL_PAD_SD2_DAT2__SD2_DATA2      (HYS | PUS_47K_UP | PUE | PKE | SPEED_HIGH | DSE_33ohm | SRE_FAST)
          MX6QDL_PAD_SD2_DAT3__SD2_DATA3      (HYS | PUS_47K_UP | PUE | PKE | SPEED_HIGH | DSE_33ohm | SRE_FAST)
      >;
  };

  /* uSDHC3 - /dev/mmcblk0 - SD Card Slot */
  pinctrl_usdhc3: usdhc3grp {
      fsl,pins = <
          MX6QDL_PAD_SD3_CLK__SD3_CLK         (HYS | SPEED_MED_LOW | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD3_CMD__SD3_CMD         (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD3_DAT0__SD3_DATA0      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD3_DAT1__SD3_DATA1      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD3_DAT2__SD3_DATA2      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_40ohm | SRE_FAST)
          MX6QDL_PAD_SD3_DAT3__SD3_DATA3      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_40ohm | SRE_FAST)
#define GP_USDHC3_CD    <&gpio7 0 GPIO_ACTIVE_LOW>
          MX6QDL_PAD_SD3_DAT5__GPIO7_IO00     (HYS | PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm)
      >;
  };

  /* uSDHC4 - /dev/mmcblk1 - SOM on-board MMC */
  pinctrl_usdhc4: usdhc4grp {
      fsl,pins = <
          MX6QDL_PAD_SD4_CLK__SD4_CLK         (HYS | SPEED_MED_LOW | DSE_90ohm | SRE_FAST)
          MX6QDL_PAD_SD4_CMD__SD4_CMD         (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_90ohm | SRE_FAST)
          MX6QDL_PAD_SD4_DAT0__SD4_DATA0      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_90ohm | SRE_FAST)
          MX6QDL_PAD_SD4_DAT1__SD4_DATA1      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_90ohm | SRE_FAST)
          MX6QDL_PAD_SD4_DAT2__SD4_DATA2      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_90ohm | SRE_FAST)
          MX6QDL_PAD_SD4_DAT3__SD4_DATA3      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_90ohm | SRE_FAST)
          MX6QDL_PAD_SD4_DAT4__SD4_DATA4      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_90ohm | SRE_FAST)
          MX6QDL_PAD_SD4_DAT5__SD4_DATA5      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_90ohm | SRE_FAST)
          MX6QDL_PAD_SD4_DAT6__SD4_DATA6      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_90ohm | SRE_FAST)
          MX6QDL_PAD_SD4_DAT7__SD4_DATA7      (HYS | PUS_47K_UP | PUE | PKE | SPEED_MED_LOW | DSE_90ohm | SRE_FAST)
#define GP_EMMC_RESET   <&gpio2 0 GPIO_ACTIVE_LOW>
          MX6QDL_PAD_NANDF_D0__GPIO2_IO00     (HYS | PUS_100K_UP | PUE | PKE | SPEED_MED_HIGH | DSE_40ohm)
      >;
  };
};

/ {
	aliases {
		mmc0 = &usdhc3;
		mmc1 = &usdhc4;
		mmc2 = &usdhc2;
	};

	bt_rfkill {
		compatible = "net,rfkill-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_bt_rfkill>;
		name = "bt_rfkill";
		type = <2>;	/* bluetooth */
		reset-gpios = GP_BT_RFKILL_RESET;
	};

	clocks {
		clk24m: clk24m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};
	};

  gpio-aux {
    compatible = "openglow,aux";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_gpio_aux>;
    aux01-gpio = GP_AUX_IO_01;
    aux02-gpio = GP_AUX_IO_02;
    aux03-gpio = GP_AUX_IO_03;
    aux04-gpio = GP_AUX_IO_04;
    aux05-gpio = GP_AUX_IO_05;
    aux06-gpio = GP_AUX_IO_06;
    aux07-gpio = GP_AUX_IO_07;
    aux08-gpio = GP_AUX_IO_08;
    aux09-gpio = GP_AUX_IO_09;
    aux10-gpio = GP_AUX_IO_10;
    aux11-gpio = GP_AUX_IO_11;
    aux12-gpio = GP_AUX_IO_12;
    aux13-gpio = GP_AUX_IO_13;
    aux14-gpio = GP_AUX_IO_14;
    aux15-gpio = GP_AUX_IO_15;
    aux16-gpio = GP_AUX_IO_16;
  };

  gpio-control {
		compatible = "openglow,control";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_control>;
    ctrl-beam-sens-gpio = GP_CTRL_BEAM_SENS;
    ctrl-head-gpio = GP_CTRL_HEAD;
    ctrl-laser-en-gpio = GP_CTRL_LASER_EN;
    ctrl-btn-gpio = GP_CTRL_BTN;
    ctrl-doors-gpio = GP_CTRL_DOORS;
    ctrl-ilock-gpio = GP_CTRL_ILOCK;
    ctrl-lid1-gpio = GP_CTRL_LID1;
    ctrl-lid2-gpio = GP_CTRL_LID2;
    ctrl-safe-fire-gpio = GP_CTRL_SAFE_FIRE;
    ctrl-run-prgm-gpio = GP_CTRL_RUN_PRGM;
	};

	gpio-misc {
		compatible = "openglow,misc";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_misc>;
    misc-tp90-gpio = GP_MISC_TP90;
    misc-tp91-gpio = GP_MISC_TP91;
  };

	gpio-power {
		compatible = "openglow,power";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_power>;
    power-12v-en-gpio = GP_PWR_12V_EN;
    power-12v-ok-gpio = GP_PWR_12V_OK;
    power-40v-en-gpio = GP_PWR_40V_EN;
    power-40v-ok-gpio = GP_PWR_40V_OK;
    power-hv-pfc-stop-gpio = GP_PWR_HV_PFC_STOP;
    power-hw-line-gpio = GP_PWR_HV_LINE;
  };

	gpio-stepdir {
		compatible = "openglow,stepdir";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_stepdir>;
    stepdir-xy-en-gpio = GP_STPD_XY_EN;
    stepdir-x-dir-gpio = GP_STPD_X_DIR;
    stepdir-x-step-gpio = GP_STPD_X_STEP;
    stepdir-y1-dir-gpio = GP_STPD_Y1_DIR;
    stepdir-y1-step-gpio = GP_STPD_Y1_STEP;
    stepdir-y2-dir-gpio = GP_STPD_Y2_DIR;
    stepdir-y2-step-gpio = GP_STPD_Y2_STEP;
    stepdir-z-dir-gpio = GP_STPD_Z_DIR;
    stepdir-z-step-gpio = GP_STPD_Z_STEP;
  };

	gpio-thermal {
		compatible = "openglow,thermal";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_thermal>;
    thermal-exh-fan-gpio = GP_THRM_EXH_FAN1;
    thermal-intk-fan1-gpio = GP_THRM_INTK_FAN1;
    thermal-intk-fan2-gpio = GP_THRM_INTK_FAN2;
    thermal-tec-en-gpio = GP_THRM_TEC_EN;
    thermal-wtr-pmp-en-gpio = GP_THRM_WTR_PMP_EN;
    thermal-wtr-sens-pwr-gpio = GP_THRM_WTR_SENS_PWR;
  };

	memory {
		reg = <0x10000000 0xeffffc00>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_1p8v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "1P8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		reg_3p3v: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_wlan_en: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_wlan_en>;
			regulator-name = "wlan-en";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = GP_REG_WLAN_EN;
			startup-delay-us = <70000>;
			enable-active-high;
		};

		reg_usbhst1_vbus: regulator@4 {
			compatible = "regulator-fixed";
			reg = <4>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_usbhst1_vbus>;
			regulator-name = "usb_host_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = GP_REG_USBHST1;
			enable-active-high;
		};

		reg_usbotg_vbus: regulator@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_usbotg_vbus>;
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = GP_REG_USBOTG;
			enable-active-high;
		};


	};

	v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mclk_source = <0>;
		mipi_camera = <1>;
		default_input = <1>;
		status = "okay";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};
};

&ecspi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	fsl,spi-num-chipselects = <1>;
	cs-gpios = GP_ECSPI1_NOR_CS;
	status = "okay";

	flash: m25p80@0 {
		compatible = "sst,sst25vf016b";
		spi-max-frequency = <20000000>;
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		mtd@00000000 {
			label = "U-Boot";
			reg = <0x0 0xC0000>;
		};

		mtd@000C0000 {
			label = "env";
			reg = <0xC0000 0x2000>;
		};
		mtd@000C2000 {
			label = "splash";
			reg = <0xC2000 0x13e000>;
		};
	};
};

&ecspi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	fsl,spi-num-chipselects = <3>;
	cs-gpios = GP_SPI_CS0, GP_SPI_CS1, GP_SPI_CS2;
	status = "okay";

	spidev@0 {
		compatible = "spidev";
		spi-max-frequency = <2000000>;
		reg = <0>;
	};
	spidev@1 {
		compatible = "spidev";
		spi-max-frequency = <2000000>;
		reg = <1>;
	};
	spidev@2 {
		compatible = "spidev";
		spi-max-frequency = <2000000>;
		reg = <2>;
	};
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";
};

&mipi_csi {
	lanes = <2>;
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3>;
	status = "okay";
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	status = "okay";
};

&ssi1 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	status = "okay";
};

&usbh1 {
	vbus-supply = <&reg_usbhst1_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbhst1>;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usbotg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	status = "okay";
};

&usdhc2 {	/* uSDHC2, TiWi wl1271 */
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>;
	bus-width = <4>;
	non-removable;
	vmmc-supply = <&reg_wlan_en>;
	vqmmc-1-8-v;
	cap-power-off-card;
	keep-power-in-suspend;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	wlcore: wlcore@2 {
		compatible = "ti,wl1271";
		interrupts-extended = GPIRQ_WL1271;
		reg = <2>;
		ref-clock-frequency = <38400000>;
	};
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	bus-width = <4>;
	cd-gpios = GP_USDHC3_CD;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	bus-width = <8>;
	non-removable;
	vqmmc-1-8-v;
	vmmc-supply = <&reg_1p8v>;
	keep-power-in-suspend;
	status = "okay";
};
