/*
 * Copyright 2018 Scott Wiederhold <s.e.wiederhold@gmail.com>
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/* PAD Control Definitions
*
* Be sure to check IMX6 DQ Reference Manual to verify each
* PADs actual capability (i.e. GPIO00 - See Ch 36.4.376).
* PAD Operating frequency is dependent on many factors (See Ch 28.4.2.3)
*
* For a better explanation, see Freescale AN5078
* http://cache.freescale.com/files/32bit/doc/app_note/AN5078.pdf
*/
/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "imx6q.dtsi"
#include "openglow_common.dtsi"

/ {
	model = "OpenGlow Standard - Prototype 2";
	compatible = "openglow,openglow_std", "fsl,imx6q";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

    openglow_std {
        pinctrl_hog: hog {
            fsl,pins = <
#define TP01_GPIO3_IO20     <&gpio3 20 GPIO_ACTIVE_HIGH>
                MX6QDL_PAD_EIM_D20__GPIO3_IO20     	WEAK_PULLUP
#define TP02_GPIO3_IO05     <&gpio3 5 GPIO_ACTIVE_HIGH>
                MX6QDL_PAD_EIM_DA5__GPIO3_IO05     	WEAK_PULLUP
#define TP03_GPIO3_IO03     <&gpio3 3 GPIO_ACTIVE_HIGH>
                MX6QDL_PAD_EIM_DA3__GPIO3_IO03     	WEAK_PULLUP
#define TP04_GPIO3_IO01     <&gpio3 1 GPIO_ACTIVE_HIGH>
                MX6QDL_PAD_EIM_DA1__GPIO3_IO01     	WEAK_PULLUP
#define TP05_GPIO2_IO25     <&gpio2 25 GPIO_ACTIVE_HIGH>
                MX6QDL_PAD_EIM_OE__GPIO2_IO25      	WEAK_PULLUP
#define TP06_GPIO2_IO04     <&gpio2 4 GPIO_ACTIVE_HIGH>
                MX6QDL_PAD_NANDF_D4__GPIO2_IO04   	WEAK_PULLUP
#define TP07_GPIO3_IO11     <&gpio3 11 GPIO_ACTIVE_HIGH>
                MX6QDL_PAD_EIM_DA11__GPIO3_IO11    	WEAK_PULLUP
#define TP08_GPIO3_IO10     <&gpio3 10 GPIO_ACTIVE_HIGH>
                MX6QDL_PAD_EIM_DA10__GPIO3_IO10    	WEAK_PULLUP
#define TP09_GPIO2_IO07     <&gpio2 7 GPIO_ACTIVE_HIGH>
                MX6QDL_PAD_NANDF_D7__GPIO2_IO07    	WEAK_PULLUP
#define TP10_GPIO3_IO09     <&gpio3 9 GPIO_ACTIVE_HIGH>
                MX6QDL_PAD_EIM_DA9__GPIO3_IO09     	WEAK_PULLUP
#define TP11_GPIO5_IO23     <&gpio5 23 GPIO_ACTIVE_HIGH>
                MX6QDL_PAD_CSI0_DAT5__GPIO5_IO23    WEAK_PULLUP
            >;
        };

        pinctrl_bt_rfkill: bt-rfkillgrp {
            fsl,pins = <
#define BT_EN               <&gpio5 19 GPIO_ACTIVE_LOW>
                MX6QDL_PAD_CSI0_MCLK__GPIO5_IO19    WEAK_PULLUP
            >;
        };

        /* SOM on-board Serial Flash */
        pinctrl_ecspi1: ecspi1grp {
            fsl,pins = <
                MX6QDL_PAD_EIM_D17__ECSPI1_MISO     SPI_PAD_CTRL
                MX6QDL_PAD_EIM_D18__ECSPI1_MOSI     SPI_PAD_CTRL
                MX6QDL_PAD_EIM_D16__ECSPI1_SCLK     SPI_PAD_CTRL
#define ECSPI1_CS           <&gpio3 19 GPIO_ACTIVE_LOW>
                MX6QDL_PAD_EIM_D19__GPIO3_IO19      NO_PAD_CTRL
            >;
        };

        /* Stepper Drivers SPI Bus */
        pinctrl_ecspi2: ecspi2grp {
            fsl,pins = <
                MX6QDL_PAD_CSI0_DAT10__ECSPI2_MISO  SPI_PAD_CTRL
                MX6QDL_PAD_CSI0_DAT9__ECSPI2_MOSI   SPI_PAD_CTRL
                MX6QDL_PAD_CSI0_DAT8__ECSPI2_SCLK   SPI_PAD_CTRL
#define ESPI2_SS0           <&gpio2 26 GPIO_ACTIVE_LOW> /* X-Stepper */
                MX6QDL_PAD_EIM_RW__GPIO2_IO26       WEAK_PULLUP
#define ESPI2_SS2           <&gpio3 24 GPIO_ACTIVE_LOW> /* Y1-Stepper */
                MX6QDL_PAD_EIM_D24__GPIO3_IO24      WEAK_PULLUP
#define ESPI2_SS3           <&gpio3 25 GPIO_ACTIVE_LOW> /* Y2-Stepper */
                MX6QDL_PAD_EIM_D25__GPIO3_IO25      WEAK_PULLUP
            >;
        };

        /* GPIO - Aux I/O */
        pinctrl_gpio_aux: gpio-auxgrp {
            fsl,pins = <
#define AUXIO_7             <&gpio1 9 GPIO_ACTIVE_HIGH>  /* AUX_IO07 */
                MX6QDL_PAD_GPIO_9__GPIO1_IO09  		WEAK_PULLUP
#define AUXIO_8             <&gpio7 13 GPIO_ACTIVE_HIGH>  /* AUX_IO08 */
                MX6QDL_PAD_GPIO_18__GPIO7_IO13  	WEAK_PULLUP
            >;
        };

		/* GPIO - Limit I/O */
        pinctrl_limit_aux: gpio-limitgrp {
            fsl,pins = <
#define AUXIO_1             <&gpio4 11 GPIO_ACTIVE_HIGH> /* AUX_IO01 X-Axis POS Limit */
                MX6QDL_PAD_KEY_ROW2__GPIO4_IO11    	WEAK_PULLUP
#define AUXIO_2             <&gpio3 12 GPIO_ACTIVE_HIGH> /* AUX_IO02 X-Axis NEG Limit */
                MX6QDL_PAD_EIM_DA12__GPIO3_IO12    	WEAK_PULLUP
#define AUXIO_3             <&gpio1 1 GPIO_ACTIVE_HIGH> /* AUX_IO03  Y1-Axis POS Limit */
                MX6QDL_PAD_GPIO_1__GPIO1_IO01      	WEAK_PULLUP
#define AUXIO_4             <&gpio5 24 GPIO_ACTIVE_HIGH> /* AUX_IO04 Y1-Axis NEG Limit */
                MX6QDL_PAD_CSI0_DAT6__GPIO5_IO24   	WEAK_PULLUP
#define AUXIO_5             <&gpio5 25 GPIO_ACTIVE_HIGH> /* AUX_IO05 Y2-Axis POS Limit */
                MX6QDL_PAD_CSI0_DAT7__GPIO5_IO25   	WEAK_PULLUP
#define AUXIO_6             <&gpio5 29 GPIO_ACTIVE_HIGH> /* AUX_IO06 Y2-Axis NEG Limit */
                MX6QDL_PAD_CSI0_DAT11__GPIO5_IO29  	WEAK_PULLUP
            >;
        };
        /* OPENGLOW - CNC */
        pinctrl_cnc: gpio-cncgrp {
            fsl,pins = <
#define BEAM_DET_EN     <&gpio7 0 GPIO_ACTIVE_HIGH>  /* LASER ON HEAD NOTIFICATION - OUT */
                MX6QDL_PAD_SD3_DAT5__GPIO7_IO00     WEAK_PULLUP
#define FIRE            <&gpio7 12 GPIO_ACTIVE_HIGH> /* FIRE LASER - OUT */
                MX6QDL_PAD_GPIO_17__GPIO7_IO12      (WEAK_PULLUP | MUX_MODE_SION)
#define HV_OK           <&gpio2 1 GPIO_ACTIVE_HIGH>  /* HV_OK - IN */
                MX6QDL_PAD_NANDF_D1__GPIO2_IO01     INPUT_HYS
#define HV_WDOG         <&gpio3 0 GPIO_ACTIVE_HIGH>  /* LASER PWR WATCH DOG */
                MX6QDL_PAD_EIM_DA0__GPIO3_IO00      WEAK_PULLUP
#define nSTEP_EN        <&gpio5 30 GPIO_ACTIVE_LOW>  /* XY_STEP_EN - OUT */
                MX6QDL_PAD_CSI0_DAT12__GPIO5_IO30   MED_PULLUP
#define OK_2_FIRE       <&gpio3 29 GPIO_ACTIVE_HIGH> /* OK_2_FIRE - IN */
                MX6QDL_PAD_EIM_D29__GPIO3_IO29      INPUT_HYS
#define X_DIR           <&gpio6 14 GPIO_ACTIVE_HIGH> /* X_DIR - OUT */
                MX6QDL_PAD_NANDF_CS1__GPIO6_IO14    WEAK_PULLUP
#define X_STEP          <&gpio6 15 GPIO_ACTIVE_HIGH> /* X_STEP - OUT */
                MX6QDL_PAD_NANDF_CS2__GPIO6_IO15    WEAK_PULLUP
#define X_DIAG0         <&gpio5 22 GPIO_ACTIVE_HIGH> /* X_DIAG0 - IN */
                MX6QDL_PAD_CSI0_DAT4__GPIO5_IO22    MED_PULLUP
#define X_DIAG1         <&gpio5 21 GPIO_ACTIVE_HIGH> /* X_DIAG1 - IN */
                MX6QDL_PAD_CSI0_VSYNC__GPIO5_IO21   MED_PULLUP
#define Y1_DIR          <&gpio6 2 GPIO_ACTIVE_HIGH>  /* Y1_DIR - OUT */
                MX6QDL_PAD_CSI0_DAT16__GPIO6_IO02   WEAK_PULLUP
#define Y1_STEP         <&gpio6 3 GPIO_ACTIVE_HIGH>  /* Y1_STEP - OUT */
                MX6QDL_PAD_CSI0_DAT17__GPIO6_IO03   WEAK_PULLUP
#define Y1_DIAG0        <&gpio4 5 GPIO_ACTIVE_HIGH>  /* Y1_DIAG0 - IN */
                MX6QDL_PAD_GPIO_19__GPIO4_IO05      MED_PULLUP
#define Y1_DIAG1        <&gpio1 5 GPIO_ACTIVE_HIGH>  /* Y1_DIAG1 - IN */
                MX6QDL_PAD_GPIO_5__GPIO1_IO05       MED_PULLUP
#define Y2_DIR          <&gpio6 7 GPIO_ACTIVE_HIGH>  /* Y2_DIR - OUT */
                MX6QDL_PAD_NANDF_CLE__GPIO6_IO07    WEAK_PULLUP
#define Y2_STEP         <&gpio6 9 GPIO_ACTIVE_HIGH>  /* Y2_STEP - OUT */
                MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09   WEAK_PULLUP
#define Y2_DIAG0        <&gpio5 18 GPIO_ACTIVE_HIGH> /* Y2_DIAG0 - IN */
                MX6QDL_PAD_CSI0_PIXCLK__GPIO5_IO18  MED_PULLUP
#define Y2_DIAG1        <&gpio5 31 GPIO_ACTIVE_HIGH> /* Y2_DIAG1 - IN */
                MX6QDL_PAD_CSI0_DAT13__GPIO5_IO31   MED_PULLUP
#define Z_DIR           <&gpio6 16 GPIO_ACTIVE_HIGH> /* Z_DIR - OUT */
                MX6QDL_PAD_NANDF_CS3__GPIO6_IO16    WEAK_PULLUP
#define Z_STEP          <&gpio6 11 GPIO_ACTIVE_HIGH> /* Z_STEP - OUT */
                MX6QDL_PAD_NANDF_CS0__GPIO6_IO11    WEAK_PULLUP
            >;
        };

        /* GPIO - Control Inputs */
        pinctrl_gpio_controlinputs: gpio-controlgrp {
            fsl,pins = <
#define BEAM_DETECT     <&gpio7 1 GPIO_ACTIVE_HIGH>  /* BEAM DETECT from HEAD */
                MX6QDL_PAD_SD3_DAT4__GPIO7_IO01    INPUT_HYS
#define INTERLOCK       <&gpio3 7 GPIO_ACTIVE_HIGH>  /* INTERLOCK - IN */
                MX6QDL_PAD_EIM_DA7__GPIO3_IO07     INPUT_HYS
#define LID_SW1         <&gpio3 4 GPIO_ACTIVE_HIGH>  /* LID_SW1 - IN */
                MX6QDL_PAD_EIM_DA4__GPIO3_IO04     INPUT_HYS
#define LID_SW2         <&gpio3 31 GPIO_ACTIVE_HIGH> /* LID_SW2 - IN */
                MX6QDL_PAD_EIM_D31__GPIO3_IO31     INPUT_HYS
#define nBUTTON         <&gpio3 8 GPIO_ACTIVE_LOW>  /* BUTTON - IN */
                MX6QDL_PAD_EIM_DA8__GPIO3_IO08     INPUT_HYS
            >;
        };

        /* GPIO - Power 12 V*/
        pinctrl_gpio_power_12v: gpio-power12vgrp {
            fsl,pins = <
#define PWR_12VDC_EN        <&gpio2 2 GPIO_ACTIVE_HIGH> /* 12VDC_EN - OUT */
                MX6QDL_PAD_NANDF_D2__GPIO2_IO02   	MED_PULLUP
#define PWR_12VDC_OK        <&gpio2 3 GPIO_ACTIVE_HIGH> /* 12VDC_OK - IN */
                MX6QDL_PAD_NANDF_D3__GPIO2_IO03   	INPUT_HYS
            >;
        };

        /* GPIO - Power 40 V */
        pinctrl_gpio_power_40v: gpio-power40vgrp {
            fsl,pins = <
#define PWR_40VDC_EN        <&gpio3 2 GPIO_ACTIVE_HIGH> /* 40VDC_EN - OUT */
                MX6QDL_PAD_EIM_DA2__GPIO3_IO02  	MED_PULLUP
#define PWR_40VDC_OK        <&gpio2 6 GPIO_ACTIVE_HIGH> /* 40VDC_OK - IN */
                MX6QDL_PAD_NANDF_D6__GPIO2_IO06  	INPUT_HYS
            >;
        };

        /* GPIO - Thermal */
        pinctrl_gpio_thermal: gpio-thermalgrp {
            fsl,pins = <
#define TEC_EN  <&gpio2 23 GPIO_ACTIVE_HIGH> /* TEC_EN - OUT */
                MX6QDL_PAD_EIM_CS0__GPIO2_IO23     (MED_PULLUP  | MUX_MODE_SION)
#define WATER_PUMP_EN   <&gpio3 23 GPIO_ACTIVE_HIGH> /* WTR_PMP_EN - OUT */
                MX6QDL_PAD_EIM_D23__GPIO3_IO23     (MED_PULLUP  | MUX_MODE_SION)
            >;
        };

        /* Interconnect I2C Bus */
        pinctrl_i2c1: i2c1grp {
            fsl,pins = <
                MX6QDL_PAD_EIM_D21__I2C1_SCL      I2C_PAD_CTRL
                MX6QDL_PAD_EIM_D28__I2C1_SDA      I2C_PAD_CTRL
            >;
        };

        /* Lid I2C Bus */
        pinctrl_i2c2: i2c2grp {
            fsl,pins = <
                MX6QDL_PAD_KEY_COL3__I2C2_SCL      I2C_PAD_CTRL
                MX6QDL_PAD_KEY_ROW3__I2C2_SDA      I2C_PAD_CTRL
#define CSI_SEL    <&gpio3 22 GPIO_ACTIVE_LOW> /* CAM_SEL */
                MX6QDL_PAD_EIM_D22__GPIO3_IO22     WEAK_PULLUP
#define CSI_OE     <&gpio1 16 GPIO_ACTIVE_HIGH> /* CSI SWITCH OUTPUT ENABLE - OUT */
                MX6QDL_PAD_SD1_DAT0__GPIO1_IO16    WEAK_PULLUP
            >;
        };

        /* Control I2C Bus */
        pinctrl_i2c3: i2c3grp {
            fsl,pins = <
                MX6QDL_PAD_GPIO_3__I2C3_SCL   	I2C_PAD_CTRL
                MX6QDL_PAD_GPIO_16__I2C3_SDA  	I2C_PAD_CTRL
            >;
        };

        /* PWM1_LASER */
        pinctrl_pwm1: pwm1grp {
            fsl,pins = <
                MX6QDL_PAD_SD1_DAT3__PWM1_OUT 	PWM_PAD_CTRL
            >;
        };

        /* PWM3_WATER_HTR */
        pinctrl_pwm3: pwm3grp {
            fsl,pins = <
                MX6QDL_PAD_SD1_DAT1__PWM3_OUT	PWM_PAD_CTRL
            >;
        };

        /* PWM4_LID_LED */
        pinctrl_pwm4: pwm4grp {
            fsl,pins = <
                MX6QDL_PAD_SD1_CMD__PWM4_OUT	PWM_PAD_CTRL
            >;
        };

        /* UART1 - USB Console TTYMXC0 */
        pinctrl_uart1: uart1grp {
            fsl,pins = <
                MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA	UART_PAD_CTRL
                MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA  UART_PAD_CTRL
            >;
        };

        /* UART2 - Filter TTYMXC1 */
        pinctrl_uart2: uart2grp {
            fsl,pins = <
                MX6QDL_PAD_EIM_D26__UART2_TX_DATA  UART_PAD_CTRL
                MX6QDL_PAD_EIM_D27__UART2_RX_DATA  UART_PAD_CTRL
            >;
        };

        /* UART5 - Bluetooth TTYMXC4*/
        pinctrl_uart5: uart5grp {
            fsl,pins = <
                MX6QDL_PAD_CSI0_DAT14__UART5_TX_DATA	UART_PAD_CTRL
                MX6QDL_PAD_CSI0_DAT15__UART5_RX_DATA	UART_PAD_CTRL
                MX6QDL_PAD_CSI0_DAT18__UART5_RTS_B  	UART_PAD_CTRL
                MX6QDL_PAD_CSI0_DAT19__UART5_CTS_B   	UART_PAD_CTRL
            >;
        };

        /* USB HOST 1 */
        pinctrl_usbhst1: usbhst1grp {
        	fsl,pins = <
        		MX6QDL_PAD_EIM_D30__USB_H1_OC		WEAK_PULLUP /* USB_HOST_OC */
        	>;
        };
        pinctrl_reg_usbhst1_vbus: reg-usbhst1-vbusgrp {
        	fsl,pins = <
#define USB_HOST_PWR_EN	<&gpio4 10 GPIO_ACTIVE_HIGH>
        		MX6QDL_PAD_KEY_COL2__GPIO4_IO10		WEAK_PULLDOWN
        	>;
        };
        /* USB OTG */
        pinctrl_usbotg: usbotggrp {
        	fsl,pins = <
        		MX6QDL_PAD_ENET_RX_ER__USB_OTG_ID	USB_OTG_PAD_CTRL
        		MX6QDL_PAD_KEY_COL4__USB_OTG_OC		WEAK_PULLUP
        	>;
        };
        pinctrl_reg_usbotg_vbus: reg-usbotg-vbusgrp {
        	fsl,pins = <
#define USB_OTG_PWR_EN	<&gpio1 0 GPIO_ACTIVE_HIGH>
        		MX6QDL_PAD_GPIO_0__GPIO1_IO00		WEAK_PULLDOWN
        	>;
        };

        /* uSDHC2 - Wireless module */
        pinctrl_usdhc2: usdhc2grp {
            fsl,pins = <
                MX6QDL_PAD_SD2_CLK__SD2_CLK         	USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_CMD__SD2_CMD         	USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_DAT0__SD2_DATA0      	USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_DAT1__SD2_DATA1      	USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_DAT2__SD2_DATA2      	USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_DAT3__SD2_DATA3      	USDHC_PAD_CTRL
                MX6QDL_PAD_SD1_CLK__OSC32K_32K_OUT 		USDHC_PAD_CTRL
#define WLAN_IRQ        <&gpio5 20 IRQ_TYPE_LEVEL_HIGH>
                MX6QDL_PAD_CSI0_DATA_EN__GPIO5_IO20		WEAK_PULLDOWN
            >;
        };

        pinctrl_usdhc2_100mhz: usdhc2grp-100mhz {
            fsl,pins = <
                MX6QDL_PAD_SD2_CMD__SD2_CMD         USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_CLK__SD2_CLK         USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_DAT0__SD2_DATA0      USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_DAT1__SD2_DATA1      USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_DAT2__SD2_DATA2      USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_DAT3__SD2_DATA3      USDHC_PAD_CTRL
            >;
        };

        pinctrl_usdhc2_200mhz: usdhc2grp-200mhz {
            fsl,pins = <
                MX6QDL_PAD_SD2_CMD__SD2_CMD         USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_CLK__SD2_CLK         USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_DAT0__SD2_DATA0     	USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_DAT1__SD2_DATA1      USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_DAT2__SD2_DATA2      USDHC_PAD_CTRL
                MX6QDL_PAD_SD2_DAT3__SD2_DATA3      USDHC_PAD_CTRL
            >;
        };

        /* uSDHC3 - /dev/mmcblk0 - SD Card Slot */
        pinctrl_usdhc3: usdhc3grp {
            fsl,pins = <
                MX6QDL_PAD_SD3_CLK__SD3_CLK         USDHC_PAD_CTRL
                MX6QDL_PAD_SD3_CMD__SD3_CMD         USDHC_PAD_CTRL
                MX6QDL_PAD_SD3_DAT0__SD3_DATA0      USDHC_PAD_CTRL
                MX6QDL_PAD_SD3_DAT1__SD3_DATA1      USDHC_PAD_CTRL
                MX6QDL_PAD_SD3_DAT2__SD3_DATA2      USDHC_PAD_CTRL
                MX6QDL_PAD_SD3_DAT3__SD3_DATA3     	USDHC_PAD_CTRL
#define SD3_CD      <&gpio3 6 GPIO_ACTIVE_LOW>
                MX6QDL_PAD_EIM_DA6__GPIO3_IO06     	WEAK_PULLUP
            >;
        };

        /* uSDHC4 - /dev/mmcblk1 - SOM on-board MMC */
        pinctrl_usdhc4: usdhc4grp {
            fsl,pins = <
                MX6QDL_PAD_SD4_CLK__SD4_CLK         USDHC_PAD_CTRL
                MX6QDL_PAD_SD4_CMD__SD4_CMD         USDHC_PAD_CTRL
                MX6QDL_PAD_SD4_DAT0__SD4_DATA0      USDHC_PAD_CTRL
                MX6QDL_PAD_SD4_DAT1__SD4_DATA1      USDHC_PAD_CTRL
                MX6QDL_PAD_SD4_DAT2__SD4_DATA2      USDHC_PAD_CTRL
                MX6QDL_PAD_SD4_DAT3__SD4_DATA3      USDHC_PAD_CTRL
                MX6QDL_PAD_SD4_DAT4__SD4_DATA4      USDHC_PAD_CTRL
                MX6QDL_PAD_SD4_DAT5__SD4_DATA5      USDHC_PAD_CTRL
                MX6QDL_PAD_SD4_DAT6__SD4_DATA6      USDHC_PAD_CTRL
                MX6QDL_PAD_SD4_DAT7__SD4_DATA7      USDHC_PAD_CTRL
#define SD4_RESET   <&gpio2 0 GPIO_ACTIVE_LOW>
                MX6QDL_PAD_NANDF_D0__GPIO2_IO00     WEAK_PULLUP /* RESET */
            >;
        };

        /* WL_EN */
        pinctrl_reg_wlan_en: reg-wlan-engrp {
            fsl,pins = <
#define WL_EN       <&gpio1 2 GPIO_ACTIVE_HIGH>
                MX6QDL_PAD_GPIO_2__GPIO1_IO02		WEAK_PULLDOWN
            >;
        };
    };
};

/ {
	aliases {
		mmc0 = &usdhc3;
		mmc1 = &usdhc4;
		mmc2 = &usdhc2;
	};

    bt_rfkill {
		compatible = "net,rfkill-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_bt_rfkill>;
		name = "bt_rfkill";
		type = <2>;	/* bluetooth */
		reset-gpios = BT_EN;
	};

	clocks {
		clk24m: clk24m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};
	};

	memory {
		reg = <0x10000000 0xeffffc00>;
	};

    openglow-aux {
        compatible = "openglow,aux";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_gpio_aux>;
        aux07-gpio = AUXIO_7;
        aux08-gpio = AUXIO_8;
    };

    openglow-cnc {
        compatible = "openglow,cnc";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_cnc>;
        xy-enable-gpio       = nSTEP_EN;
        x-step-gpio          = X_STEP;
        x-dir-gpio           = X_DIR;
        x-diag0-gpio         = X_DIAG0;
        x-diag1-gpio         = X_DIAG1;
        y1-step-gpio         = Y1_STEP;
        y1-dir-gpio          = Y1_DIR;
        y1-diag0-gpio        = Y1_DIAG0;
        y1-diag1-gpio        = Y1_DIAG1;
        y2-step-gpio         = Y2_STEP;
        y2-dir-gpio          = Y2_DIR;
        y2-diag0-gpio        = Y2_DIAG0;
        y2-diag1-gpio        = Y2_DIAG1;
        z-step-gpio          = Z_STEP;
        z-dir-gpio           = Z_DIR;
        hv-supply-ok-gpio    = HV_OK;
        safe-to-fire-gpio    = OK_2_FIRE;
        laser-fire-gpio      = FIRE;
        beam-det-enable-gpio = BEAM_DET_EN;
        hv-wdog-gpio         = HV_WDOG;
        laser-pwm            = <0>;
        timer                = <&epit1>;
        sdma-params          = <26 0xe00>; /* SDMA Channel, Script Offset */
    };

    openglow-control {
        compatible = "gpio-keys";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_gpio_controlinputs>;
        beam_detect {
            label = "beam-detect";
            gpios = BEAM_DETECT;
            debounce-interval = <60>;
            linux,code = <0>;
            linux,input-type = <EV_SW>;
        };
        interlock {
            label = "interlock";
            gpios = INTERLOCK;
            debounce-interval = <5>;
            linux,code = <1>;
            linux,input-type = <EV_SW>;
        };
        lid_sw_1 {
            label = "lid-sw-1";
            gpios = LID_SW1;
            debounce-interval = <5>;
            linux,code = <2>;
            linux,input-type = <EV_SW>;
        };
        lid_sw_2 {
            label = "lid-sw-2";
            gpios = LID_SW2;
            debounce-interval = <5>;
            linux,code = <3>;
            linux,input-type = <EV_SW>;
        };
        button {
            label = "button";
            gpios = nBUTTON;
            debounce-interval = <20>;
            linux,code = <7>;
            linux,input-type = <EV_SW>;
        };
    };

	openglow-hog {
		compatible = "openglow,hog";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_hog>;
    };

	openglow-limit {
        compatible = "gpio-keys";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_limit_aux>;
		x_limit_pos {
            label = "x-limit-pos";
            gpios = AUXIO_1;
            debounce-interval = <60>;
            linux,code = <1>;
            linux,input-type = <EV_SW>;
        };
		x_limit_neg {
            label = "x-limit-neg";
            gpios = AUXIO_2;
            debounce-interval = <60>;
            linux,code = <2>;
            linux,input-type = <EV_SW>;
        };
		y1_limit_pos {
            label = "y1-limit-pos";
            gpios = AUXIO_3;
            debounce-interval = <60>;
            linux,code = <3>;
            linux,input-type = <EV_SW>;
        };
		y1_limit_neg {
            label = "y1-limit-neg";
            gpios = AUXIO_4;
            debounce-interval = <60>;
            linux,code = <4>;
            linux,input-type = <EV_SW>;
        };
		y2_limit_pos {
            label = "y2-limit-pos";
            gpios = AUXIO_5;
            debounce-interval = <60>;
            linux,code = <5>;
            linux,input-type = <EV_SW>;
        };
		y2_limit_neg {
            label = "y2-limit-neg";
            gpios = AUXIO_6;
            debounce-interval = <60>;
            linux,code = <6>;
            linux,input-type = <EV_SW>;
        };
    };

    regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_1p8v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "1P8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		reg_3p3v: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_12v: 12v {
            compatible = "regulator-fixed";
            reg = <3>;
            pinctrl-names = "default";
            pinctrl-0 = <&pinctrl_gpio_power_12v>;
            regulator-name = "12v";
            regulator-min-microvolt = <12000000>;
            regulator-max-microvolt = <12000000>;
			regulator-always-on;
		};

        reg_40v: 40v {
            compatible = "regulator-fixed";
            reg = <4>;
            pinctrl-names = "default";
            pinctrl-0 = <&pinctrl_gpio_power_40v>;
            gpio = PWR_40VDC_EN;
            regulator-name = "40v";
            regulator-min-microvolt = <40000000>;
            regulator-max-microvolt = <40000000>;
            enable-active-high;
		};

        reg_wlan_en: regulator@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_wlan_en>;
			regulator-name = "wlan-en";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = WL_EN;
			startup-delay-us = <70000>;
			enable-active-high;
		};

		reg_usbhst1_vbus: regulator@6 {
			compatible = "regulator-fixed";
			reg = <6>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_usbhst1_vbus>;
			regulator-name = "usb_host_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = USB_HOST_PWR_EN;
			enable-active-high;
		};

		reg_usbotg_vbus: regulator@7 {
			compatible = "regulator-fixed";
			reg = <7>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_usbotg_vbus>;
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = USB_OTG_PWR_EN;
			enable-active-high;
		};


	};

	v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mclk_source = <0>;
		mipi_camera = <1>;
		default_input = <1>;
		status = "okay";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};
};

&ecspi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	fsl,spi-num-chipselects = <1>;
	cs-gpios = ECSPI1_CS;
	status = "okay";

	flash: m25p80@0 {
		compatible = "sst,sst25vf016b";
		spi-max-frequency = <20000000>;
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		mtd@00000000 {
			label = "U-Boot";
			reg = <0x0 0xC0000>;
		};

		mtd@000C0000 {
			label = "env";
			reg = <0xC0000 0x2000>;
		};
		mtd@000C2000 {
			label = "splash";
			reg = <0xC2000 0x13e000>;
		};
	};
};

&ecspi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	fsl,spi-num-chipselects = <3>;
	cs-gpios = ESPI2_SS0, ESPI2_SS2, ESPI2_SS3;
	status = "okay";

	x-axis@0 {
		compatible = "openglow,tmc2130";
		spi-max-frequency = <2000000>;
        spi-cpha=<1>;
        spi-cpol=<1>;
        reg = <0>;
	};
	y1-axis@1 {
		compatible = "openglow,tmc2130";
		spi-max-frequency = <2000000>;
        spi-cpha=<1>;
        spi-cpol=<1>;
		reg = <1>;
	};
	y2-axis@2 {
		compatible = "openglow,tmc2130";
		spi-max-frequency = <2000000>;
        spi-cpha=<1>;
        spi-cpol=<1>;
		reg = <2>;
	};
};

&epit1 {
    compatible = "fsl,imx6qdl-epit";
    id = <0>;
    clocks = <&clks IMX6QDL_CLK_EPIT1>;
    clock-names = "epit1";
    sdma-event = <16>;
};

/* Interconnect */
&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

    /* INTERCONNECT TEMP SENSOR */
    lm75b@48 {
        reg = <0x48>;
        compatible = "national,lm75b";
    };

    /* HEAD FAN Controller */
    emc2302@2E {
	    compatible = "openglow,head_fans";
	    reg = <0x2E>;
	    #address-cells = <1>;
	    #size-cells = <0>;
        air-assist-fan  = <0>;
        lens-purge-fan  = <1>;
    };

    /* HEAD LENS Step Driver */
    z-axis@20 {
	    compatible = "openglow,lens";
	    reg = <0x20>;
	    #address-cells = <1>;
	    #size-cells = <0>;
        enable-gpio   = <0>;
        decay-gpio    = <1>;
        fault-gpio    = <2>;
        reset-gpio    = <3>;
        home-gpio     = <4>;
        mode-2-gpio   = <5>;
        mode-1-gpio   = <6>;
        mode-0-gpio   = <7>;
    };
};

/* LID */
&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

    /* LID ACCELEROMETER */
    lid-accel@1e {
        reg = <0x1e>;
        compatible = "st,lis2hh12";
    };

    /* LID CAMERA */
    ov5648_mipi@36 {
		compatible = "ovti,ov5648_mipi";
		reg = <0x36>;
		clocks = <&clks 0>;
		clock-names = "csi_mclk";
		sel-gpios = CSI_SEL;
		oe-gpios = CSI_OE;
		default-state = "off"; /* off=camera A, on=camera B */
		ipu_id = <0>;
		csi_id = <1>;
		mclk = <25000000>;
		mclk_source = <0>;
		pinctrl-names = "default";
		extended-buffer;
	};
};

/* Control */
&i2c3 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

    /* CONTROL ADC */
    adc: max11611@35 {
    	compatible = "maxim,max11611";
    	reg = <0x35>;
    };

    /* Fan Controller */
    emc2303@2C {
	    compatible = "openglow,thermal";
	    reg = <0x2C>;
	    #address-cells = <1>;
	    #size-cells = <0>;
        tec-gpio          = TEC_EN;
        water-pump-gpio   = WATER_PUMP_EN;
        water-heater-pwm  = <1>;
        exhaust-fan       = <0>;
        intake-fan-1      = <1>;
        intake-fan-2      = <2>;
    };

    /* LED Controller */
    emc2303@2D {
	    compatible = "openglow,leds";
	    reg = <0x2D>;
	    #address-cells = <1>;
	    #size-cells = <0>;
        lid-led-pwm      = <2>;
        button-red-led  = <0>;
        button-green-led = <1>;
        button-blue-led   = <2>;
    };
};

&mipi_csi {
    ipu_id = <0>;
    csi_id = <1>;
    v_channel = <1>;
    lanes = <2>;
    mipi_dphy_clk = <0x28>;
    status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
	fsl,extra-prescale = <13>;
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3>;
	status = "okay";
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	status = "okay";
};

&ssi1 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
    uart-has-rtscts;
	status = "okay";
};

&usbh1 {
	vbus-supply = <&reg_usbhst1_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbhst1>;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usbotg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	status = "okay";
};

&usdhc2 {	/* uSDHC2, TiWi wl1271 */
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>;
	bus-width = <4>;
	non-removable;
	vmmc-supply = <&reg_wlan_en>;
	vqmmc-1-8-v;
	cap-power-off-card;
	keep-power-in-suspend;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	wlcore: wlcore@2 {
		compatible = "ti,wl1271";
		interrupts-extended = WLAN_IRQ;
		reg = <2>;
		ref-clock-frequency = <38400000>;
	};
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	bus-width = <4>;
	cd-gpios = SD3_CD;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	bus-width = <8>;
	non-removable;
	vqmmc-1-8-v;
	vmmc-supply = <&reg_1p8v>;
	keep-power-in-suspend;
	status = "okay";
};
